.z-button {
    padding      : 12px 20px;
    border       : 1px solid #ccc;
    border-radius: 3px;
    cursor       : pointer;
}

.z-button-size_large {
    padding: 12px 20px
}

.z-button-size_default {
    padding: 10px 18px;
}

.z-button-size_small {
    padding: 2px 10px;
}

.z-button_primary {
    color           : #fff;
    background-color: $color-blue;
    border-color    : $color-blue;
    transition      : all .2s;

    &:hover {
        opacity: .7;
    }
}

.z-button_success {
    color           : #fff;
    background-color: $color-success;
    border-color    : $color-success;
    transition      : all .2s;

    &:hover {
        opacity: .7;
    }
}

.z-button_error {
    color           : #fff;
    background-color: $color-error;
    border-color    : $color-error;
    transition      : all .2s;

    &:hover {
        opacity: .7;
    }
}


.z-button_warning {
    color           : #fff;
    background-color: $color-warning;
    border-color    : $color-warning;
    transition      : all .2s;

    &:hover {
        opacity: .7;
    }
}

.z-button_info {
    color           : #fff;
    background-color: $color-info;
    border-color    : $color-info;
    transition      : all .2s;

    &:hover {
        opacity: .7;
    }
}

.z-button_default {
    background-color: #fff;
    transition      : all .2s;

    &:hover {
        background-color: #ecf5ff;
        color           : $color-blue;
    }
}